<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h2>Your ID: <span id="ws-id"></span></h2>

        <div id="choices" style="display: none;">
            <button id="rockButton" onclick="sendRock()">Rock</button>
            <button id="paperButton" onclick="sendPaper()">Paper</button>
            <button id="scissorsButton" onclick="sendScissors()">Scissors</button>
        </div>       
        <div id="status"></div>
        <script>
            var client_id = Date.now()
            document.querySelector("#ws-id").textContent = client_id;
            var ws = new WebSocket(`ws://localhost:8000/ws/${client_id}`);
            
            ws.onmessage = function(event) {
                var status = event.data
                document.getElementById('status').innerText = status

                if (status == "Let's play!"){
                    setVisibility('choices', true)
                } 
            };

            function setVisibility(id, isVisible) {
                var div = document.getElementById(id);
                if (isVisible) {
                    div.style.display = 'flex';
                } else {
                    div.style.display = 'none';
                }
            }

            function setAvailability(id, isAvailable) {
                var div = document.getElementById(id);
                if (isAvailable) {
                    div.disabled = false;
                } else {
                    div.disabled = true;
                }
            }

            function sendRock(event) {
                ws.send("ROCK")
                document.getElementById('status').innerText = "You've chosen ROCK"

                setAvailability('choices', false)
            }
            function sendPaper(event) {
                ws.send("PAPER")
                document.getElementById('status').innerText = "You've chosen PAPER"

                setAvailability('choices', false)
            }
            function sendScissors(event) {
                ws.send("SCISSORS")
                document.getElementById('status').innerText = "You've chosen SCISSORS"

                setAvailability('choices', false)
            }

            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>